.c{
    text-align: center;
    font-weight: bolder;
    color: #721c24;
}
.d{
    margin-left: 100px;
}
.a{
    background-color: black;
    color: #b8daff;
}
.f{
    color: #721c24;
    text-align: center;
}
.e{
    background-color: #adb5bd;
}